[Unit]
Description = On Chain Signalling Votes API

[Service]
User=$USER
ExecStart=/home/$USER/bin/start_api.sh
ExecStop=/home/$USER/bin/stop_api.sh
After=network.target postgresql.service

[Install]
WantedBy=multi-user.target