public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*prettier*
public-hoist-pattern[]=@types*
public-hoist-pattern[]=*react*
public-hoist-pattern[]=*storybook*

auto-install-peers=true
legacy-peer-deps=true
node-linker=hoisted
engine-strict=true